# Ignore node_modules
node_modules/

# Ignore build or dist folders
dist/
build/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE settings
.vscode/
.idea/
